language: objective-c
osx_image: xcode7.3
xcode_project: 'xcodeProject/ObjectiveC.xcodeproj'
xcode_scheme: 'xobjectivecTest'
before_install:
  - gem install danger
  - brew cask uninstall oclint
  - brew tap oclint/formulae
  - brew install oclint
script:
  - bin/fetch-configlet
  - bin/configlet .
  - xctool test -project 'xcodeProject/ObjectiveC.xcodeproj' -scheme 'xobjectivecTest' -sdk macosx10.11 -reporter json-compilation-database:compile_commands.json -reporter pretty
  - oclint-json-compilation-database -- -max-priority-1=100000 -max-priority-2=100000 -max-priority-3=100000 -rc LONG_LINE=150 -report-type json -o .oclint.json
  - danger
after_success:
  - ls -al
  - python -m json.tool .oclint.json
  - python -m json.tool compile_commands.json  
